extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='first_name') First Name:
      input#first_name.form-control(type='text' placeholder='First name (Christian) last' name='first_name' required='true' value=(undefined===author ? '' : author.first_name) )
      label(for='family_name') Family Name:
      input#family_name.form-control(type='text' placeholder='Family name (surname)' name='family_name' required='true' value=(undefined===author ? '' : author.family_name))
    div.form-group
      label(for='date_of_birth') Date of birth:
      input#date_of_birth.form-control(type='date' name='date_of_birth' placeholder='dd\mm\yyyy' value=(undefined===author ? '' : author.date_of_birth) )
      label(for='date_of_death') Date of death:
      input#date_of_death.form-control(type='date' name='date_of_death' placeholder='dd\mm\yyyy' value=(undefined===author ? '' : author.date_of_death) )
    
    button.btn.btn-primary(type='submit') Submit
  if errors
    ul
      for error in errors
        li!= error.msg
